@charset "UTF-8";
/*
* Видео в модальном блоке
* без javascript и дополительных изображений;
* исключительно средствами CSS;
*
*  @dobrovoi dbmast.ru
*/
/* расчет ширины и высоты элементов */
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }



@media (max-width: 1080px) {
    
body {
    position: relative;
  }
}
/** стили фона затемнения **/
.overlay {
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 10000;
visibility: hidden;
/* фон затемнения */
background-color: rgba(0, 0, 0, 0.8);
opacity: 0;
position: fixed; /* фиксированное позиционирование */
/* трансформация прозрачности при открытии  */
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-ms-transition: opacity .5s;
-o-transition: opacity .5s;
transition: opacity .5s;
}
/* активируем при клике */
.overlay:target {
visibility: visible;
opacity: 1;
}
/** стили модального блока */
.modal {
top: 0;
right: 0;
left: 0;
width: 50%;
z-index: 10001;
/** полная прозрачность изначально */
opacity: 0;
display: block;
visibility: hidden;
position: absolute;
/* трансформация прозрачности при открытии  */
-webkit-transition: opacity 500ms ease-in;
-moz-transition: opacity 500ms ease-in;
transition: opacity 500ms ease-in; 



position: fixed; 
top: 50px;
left: 4%; 
opacity: 1; 
overflow: visible;
padding: 0;
min-width: 320px;
width: 92%;
max-height: 80%;

background: rgba(60, 63, 65, 0.9); 
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
-webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
-moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
}
/* активируем при клике */
.overlay:target+.modal{
top: 50px;
position: fixed;
visibility: visible;
opacity: 1;
}
/* планшет */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.modal {
		width: 95%;
	}
}
/* смарт */
@media only screen and (min-width: 459px) and (max-width: 767px) {
	.modal {
		width:85%;  
	}
}
/* кнопка закрытия */
.close {
font-family: 'Open Sans', Calibri, Arial, sans-serif;
color: #fff;
position: absolute;
width: 30px;
height: 30px;
right: -25px;
top: -25px;
z-index: 999999;
cursor: pointer;
text-align: center;
text-decoration: none;
line-height: 26px;
}
@media (max-width: 530px) {
  .close {
    top: 6px;
  }
}
.close:after {
content: 'X';
display:block;
width: 30px;
height: 30px;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
border: 2px solid #fff;
-moz-transition: all 0.6s;
-webkit-transition: all 0.6s;
transition: all 0.6s;
-moz-transform: scale(0.85);
-ms-transform: scale(0.85);
-webkit-transform: scale(0.85);
transform: scale(0.85);
}

.close:hover:after {
  transform: scale(1);
}
/* блок заголовка видео */
.video__title {
  height: auto;
  width: 70%;
  padding: 0px 5px 15px 5px;
  color: white;
  font: normal 16px/22px 'Open Sans', Calibri, Arial, sans-serif;
}
@media (max-width: 530px) {
.video__title {
height: 38px;
font-size: 12px;
line-height: 18px;
  }
}
/* адаптивный блок видео */
/*video {
position: fixed;
padding-bottom: 56.25%; 
height: 0; 
overflow:hidden; 
} */
.videos iframe,
.videos object,
.videos embed {

position: fixed; left: 4%; 
width: 92%;
height: 85%; 
}
/* -- */

.video-wrap {
  padding-left: 200px;
}

