@font-face {
    font-family: "MyriadProRegular";
    font-display: block;
    src: url("../fonts/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular.eot") format("embedded-opentype"),
    url("../fonts/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

#ouibounce-modal {
    font-family: 'Open Sans', sans-serif;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9997;
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

#ouibounce-modal .modal {
    width: 100%;
    height: auto;
    max-height: 490px;
    background-color: #e5e5e5;
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: popin 0.3s;
    animation: popin 0.3s;
    max-width: 800px;
    border-radius: 30px;

}

#ouibounce-modal .modal-title {
    font-size: 18px;
    background-color: #e5e5e5;
    color: #000;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    text-align: center;
    margin: 0 auto;
    max-width: 670px;
}

#ouibounce-modal h3 {
    color: #000;
    font-size: 23px;
    margin: 16px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: MyriadProRegular;
    max-width: 670px;
}

#ouibounce-modal .modal-body {
    padding: 0px 35px;
    font-size: 0.9em;
}

#ouibounce-modal form {
    text-align: center;
    margin-top: 15px;
}

#ouibounce-modal form input[type=text] {
    padding: 12px;
    max-width: 300px;
    border: 1px solid #806f6f;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 17px;
    height: 40px;
    width: 100%;
    background: #e1e1e1;

}


#ouibounce-modal form input[type=tel] {
    padding: 12px;
    max-width: 300px;
    border: 1px solid #806f6f;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 17px;
    height: 40px;
    width: 100%;
    background: #e1e1e1;

}


#ouibounce-modal form input[type=email] {
    padding: 12px;
    max-width: 300px;
    border: 1px solid #806f6f;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 17px;
    height: 40px;
    width: 100%;
    background: #e1e1e1;

}

#ouibounce-modal form input[type=submit] {
    text-transform: uppercase;
    font-size: 28px;
    border-radius: 0px;
    background-color: #4ab471;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    font-family: MyriadProRegular;
    border: 2px solid #f17479;
    height: 65px;
    padding: 0px;
    margin-left: 0px;
}

#ouibounce-modal .modal-footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

#ouibounce-modal .modal-footer p {
    text-transform: capitalize;
    cursor: pointer;
    display: inline;
    border-bottom: 1px solid #344a5f;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes popin {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    85% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-ms-keyframes popin {
    0% {
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    85% {
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popin {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    85% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.colmd9 {
    width: 52%;
    float: left;
    text-align: center;

}

.colmd3 {
    width: 40%;
    float: right;
    text-align: center;

}

.span-oui-big {
    font-size: 24px;
    font-weight:600;
}

.span-oui-small {
    font-weight: 400;
    font-size: 18px;
}

.span-oui-div {
    margin-bottom: 25px;
}

.col-style-left {
    max-height: 560px;
    height: 560px;
    width: 49%;
    border: 2px dotted #3f7eff;
    border-radius: 10px;
    margin-top: 25px;
    padding: 25px;
    background-color: #F3F4FB;
}

.col-style-right {
    max-height: 560px;
    height: 560px;
    width: 49%;
    border: 2px dotted #68C14D;
    border-radius: 10px;
    margin-top: 25px;
    padding: 25px;
    background-color: #F0FBF4;
}

.popup-text {
    height: 300px;
}

.textobm {
    font-family: MyriadProRegular;
    color: #424147;
    font-size: 18px;
    max-width: 240px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.zagolform {
    font-size: 35px;
    font-family: MyriadProRegular;
    color: #000;
    font-weight: bold;

}

.formstr2 {
    font-size: 16px;
    font-family: MyriadProRegular;
    font-weight: bold;
    color: #000;

}

.managerobform {
    font-size: 13px;
    font-family: MyriadProRegular;
    color: #424147;

}


.polk {
    font-size: 12px;
    font-family: MyriadProRegular;
    font-weight: bold;
    color: #5d5d66;
}

.voprosik {
    float: right;
    font-size: 63px;
    position: absolute;
    right: 40px;
    top: 7px;
    font-family: MyriadProRegular;

}


.ouibounce-init {
    display: none;
}

.ouibounce-init {
    font-family: 'Open Sans', sans-serif;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.ouibounce-init .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.ouibounce-init .ouibounce-modal {
    width: 90%;
    max-height: 620px;
    height: auto;
    background-color: #fff;
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: popin 0.3s;
    animation: popin 0.3s;
    max-width: 1200px;
    border-radius: 30px;
}

.ouibounce-init .ouibounce-modal-title {
    font-size: 29px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    text-align: center;
    margin: 0 auto;
    max-width: 95%;
}

.ouibounce-init h3 {
    color: #ff1500;
    font-size: 29px;
    margin: 10px 16px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: MyriadProRegular;
    max-width: 100%;
}

.ouibounce-init .ouibounce-modal-body {
    padding: 0px 35px;
    font-size: 0.9em;
}

.ouibounce-init form {
    text-align: center;
    margin-top: 15px;
}

.ouibounce-init form input[type=text] {
    padding: 12px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    max-width: 300px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
    height: 40px !important;
    width: 100%;
    background: #ffffff;
    font-size: 16px;
}

.ouibounce-init form input[type=tel] {
    padding: 12px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    max-width: 300px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
    height: 40px !important;
    width: 100%;
    background: #ffffff;
    font-size: 16px;
}

.ouibounce-init form input[type=email] {
    padding: 12px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    max-width: 300px;
    border: 1px solid #806f6f;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
    height: 40px !important;
    width: 100%;
    background: #e1e1e1;
}

.ouibounce-init form input[type=submit] {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #ED022D;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    width: 250px;
    max-width: 300px;
    margin: 0 auto;
    font-family: MyriadProRegular;
    /*border: 2px solid #f17479;*/
    height: 45px;
    padding: 5px;
    /*line-height: 65px;*/
}

.ouibounce-init .modal-footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

.ouibounce-init .ouibounce-modal-footer p {
    text-transform: capitalize;
    cursor: pointer;
    display: inline;
    border-bottom: 1px solid #344a5f;
}

.ouibounce-init .down-title {
    padding-bottom: 40px;
    font-size: 28px;
}

.ouibounce-init .closed {
    position: absolute;
    padding: 0;
    top: -35px;
    right: -35px;
    z-index: 2;
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    -webkit-transition: background-color ease .7s;
    transition: background-color ease .7s;
}

.ouibounce-init .closed:before {
    color: red;
    content: '\2715';
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 44px;
    font-weight: bold;
    position: absolute;
    top: 12px;
    left: 4px;
}

.body-fixed {
    position: fixed !important;
    width: 100% !important;
}
@media (max-width: 980px) {
    .ouibounce-init .ouibounce-modal {
        min-width: 880px;
    }
}
@media (max-width: 900px) {
    #popup__toggle {
        transform: scale(0.5);
        /*bottom: -20px;*/
        right: -30px;
    }
}

@media (max-width: 700px) {
    .plusik {
        font-size: 70px !important;
    }
}

h3.zak {
    color: #000 !important;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.ouibounce-init .down-title {
    padding-bottom: 0 !important;
}

.voprosik {
    top: 158px !important;
    right: 54px !important;
}

.cc {
    text-decoration: none;
    color: #fff;
}

.cc:hover {
    color: #fff;
    text-decoration: none;
}

.textobm {

}

@media (min-width: 300px) and (max-width: 680px) {
    .ouibounce-init form input[type=submit] {
        font-size: 22px;
    }

    .ouibounce-init .down-title {
        padding-bottom: 0px;
        font-size: 20px;
    }

    .ouibounce-init h3 {
        font-size: 23px;
    }
	.video-wrap {
		padding: 0px;
	}
	.video {
		width: 100%;
	}